/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.body {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* HEADER */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 0%;
  padding-bottom: 2.5%;
}

header nav {
  display: flex;
  width: 70%;
  justify-content: space-between;content="width=device-width, initial-scale=1"
}

nav a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

nav a:hover {
  background: black;
  color: white;
}

/* SPLASH */

.splash {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 5% 0% 10% 0%;
  border-bottom: 2px solid black;
}

.splash h1 {
  font-size: 5rem;
}

.splash .button {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 30px;
  align-self: flex-start;
}

#tagline {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#tagline h1 {
  text-align: center;
}

/* MIDDLE CONTENT */

.middle {
  width: 100%;
  border-bottom: 2px solid black;
  margin-bottom: 5%;
}

.wrapper {
  margin: 5% 0%;
  display: flex;
  justify-content: space-between;
}

.sidebyside2 {
  width: 48%;
}

.sidebyside3 {
  width: 32%;
}

.middle-img {
  margin: 2.5% 0%;
  width: 100%;
}

/* CONTACT */

.contactInfo {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

/* FOOTER */

footer {
  text-align: center;
  margin: 5%;
  width: 100%;
}

/* SERVICE PAGE STYLING */

.services-header-img {
  width: 100%;
  margin: 0% 0% 5% 0%;
}

.services {
  padding: 0% 0% 5% 0%;
  border-bottom: 2px solid black;
}

.serviceDescriptions {
  padding: 2.5% 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  border: 1px solid black;
  background-color: lightgrey;
  padding: 2.5%;
  margin: 2.5%;
  height: 38%;
}

.service .button {
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 5px 30px;
  margin-top: 100px;
  align-self: flex-start;
}

.someFacts {
  margin-top: 32%;
  padding: 5% 0%;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
}

.someFacts .sidebyside2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.someFacts .sidebyside2 {
  list-style-position: inside;
}

ul {
  list-style-position: inside;
  list-style: disc;
}
.serviceList {
  padding-left: 7%;
  padding-top: 2%;
}

/***** MEDIA QUERIES *****/

/**** TABLET ****/
@media screen and (max-width: 780px) {
  body {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  header {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  header nav {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 5%;
  }
  nav {
    flex-direction: row;
    align-items: center;
  }
  nav a {
    width: 100%;
   
    color: gray;
  }
  
  .splash {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
  }

  #tagline {
    height: 30vh;
  }


  .splash div img {
    display: none;
  }

  .middle-img {
      width: 100%;
  }
}

/**** PHONE ****/
@media screen and (max-width: 480px) {
  body {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  header {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  header nav {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav a {
    width: 100%;
    border-bottom: 2px solid gray;
    color: gray;
  }

  .splash {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #tagline {
    height: 40vh;
  }


  .splash div img {
    display: none;
  }

  .wrapper {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .sidebyside2, .sidebyside3 {
      width: 100%;
      margin: 4% 0%;
  }
  .middle-img {
      width: 100%;
  }

  /* SERVICES PAGE */
  .serviceDescriptions {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .service {
    width: 100%;
    height: 35vh;
    
  }
  .someFacts {
    flex-direction: column-reverse;
    width: 100%;
  }
}


